# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!*.lua
!gradle-wrapper.jar
!gradle-wrapper.properties
!checkstyle.xml
!.codeclimate.yml
!wrk_results.md
!wrk2_results.md
!total.md
!*.svg


# ...even if they are in subdirectories
!*/
